.main
{
    padding: 40px !important;
    background-color: #E9ECEF;
}
.main .row
{
    position: relative;
}

.logo
{
    width: 70px;
}
.logomodal
{
    position: absolute;
    left: 25px;
    top: 25px;
}
.main .col-xs-4
{
    height: 80%;
}
.ladylogo
{
    height: 100%;
    margin: 50% 0px !important;
}
.col-xs-1
{
    position: relative;
}
.col-xs-1 img
{
    position: absolute;
    right: 0;
    top: -20px;
}
.col-xs-3 img
{
    width: 100%;
    max-width: 130px;
    min-width: 65px;
}
.mItem
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mItem h4
{
    margin-top: 10px !important;
    font-weight: 500;
}
.mItem:hover
{
    cursor: pointer;
}
.below
{
    padding: 40px !important;
}

.modal-content {
    border: 0px !important;
    border-radius: 0px !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.modal-dialog {
    margin: 0px !important;
    height: 100%;
    background: white;
}
.modal-header
{
    background-color: #E9ECEF;
}
.modal-header .close
{
    margin: 5px;
    margin-top: 5px !important;
    font-size: 30px;
}

.question .btn {
  width: 100%;
  display: block;
}

.bottom-question {
    position: fixed;
    bottom: 31px;
    width: 371px;
    max-width: 80%;
}
.question .row {
  display: none;
}
.question .active {
  display: block;
}
.img-fluid
{
    margin: 5px 0px;
    width: 100%;
}
.bottombuttons
{
    width: 85%;
    position: fixed;
    bottom: 35px;
}

.ques .container-fluid
{
    display: none;
}

.ques .active
{
    display: block;
}

@media (min-width: 768px)
{
    .modal-dialog {
        width: 100% !important;
    }
    .ladylogo
    {
        margin: 1% 27% !important;
        max-width: 100px;
    }
    .ques .img-fluid
    {
        width: 20% !important;
        margin: 2% 40% !important;
    }
    .bottombuttons
    {
        width: 96% !important;
    }
}